<!-- IF YOU HAVE YOUR INDENT SIZE SET TO ANYTHING OTHER THAN 2 SPACES, I WILL STEAL YOUR KNEECAPS.  -->

<h1>Profile of {{user}}</h1>
<a (click)="backToChat()">&lt; Back to Chat</a>
|
<a class="spec1" [routerLink]="['/friends']">Remove Friend</a>

<br><br>

<img src="/assets/img/profile.png" class="aside-left">

<div class="aside-right">
  <div>{{profile.description}}</div>

  <br><br>

  <b>Coffee or Tea?</b>
  <blockquote>{{profile.coffeeOrTea}}</blockquote>

  <b>Name</b>
  <blockquote>{{profile.firstName}} {{profile.lastName}}</blockquote>
</div>
