<h1>{{loggedInUser}}'s Chat with {{user}}</h1>
<p>
  <a [routerLink]="['/friends']">&lt; Back</a> |
  <a [routerLink]="['/profile/' + user]">Profile</a> |
  <a class="spec1" (click)="removeFriend()">Remove Friend</a>
</p>
<div class="borderaround" id="chatview" #chatview>
  <p *ngIf="messages === null"><small>Loading...</small></p>
  <p *ngFor="let i of messages">
    <b>{{i.from}}: </b>
    <span>{{i.msg}}</span>
    <small class="timelabel"> {{i.time | date:'yyyy-MM-dd HH:mm:ss'}}</small>
  </p>
</div>
<p>
  <input class="biginput nomaxwidthonmobile" type="text" id="msginput" placeholder="New Message" name="msg" [(ngModel)]="message">
  <button class="bluebutton nomaxwidthonmobile" type="button" (click)="sendMessage()">Send</button>
</p>
