<!-- IF YOU HAVE YOUR INDENT SIZE SET TO ANYTHING OTHER THAN 2 SPACES, I WILL STEAL YOUR KNEECAPS.  -->

<img src="/assets/img/chat.png" width="100px" class="center round">
<h1 class="center">Please sign in</h1>
<form>
  <fieldset>
    <legend>Login</legend>
    <p *ngIf="authFailed" style="color:red;text-align:center">Authentication failed!</p>
    <p>
      <label for="Username">Username</label>
      <input class="smallinput" type="text" name="Username" placeholder="Username" [(ngModel)]="username">
      <br>
      <label for="Password">Password</label>
      <input class="smallinput" type="password" name="Password" placeholder="Password" [(ngModel)]="password">
    </p>
  </fieldset>
  <div class="center">
    <button type="button" class="nomaxwidthonmobile" (click)="goToRegister()">Register</button>
    <button type="button" class="nomaxwidthonmobile bluebutton" (click)="login()">Login</button>
  </div>
</form>
