<!-- IF YOU HAVE YOUR INDENT SIZE SET TO ANYTHING OTHER THAN 2 SPACES, I WILL STEAL YOUR KNEECAPS.  -->

<h2 class="big">Friends</h2>
<a href="/logout">&lt; Logout</a> | <a [routerLink]="['/settings']">Settings</a>
<hr>
<ul>
  <li *ngFor="let i of friends"><a [routerLink]="['/chat/' + i.username]">{{i.username}} ({{i.unreadMessages}})</a></li>
</ul>
<p *ngIf="friends.length == 0">You have no friends.</p>
<hr>
<h2>New Requests</h2>
<ol>
  <li *ngFor="let i of pendingFriendRequests">
    Friend request from <b>{{i.username}}</b> &ndash;
    <a (click)="acceptFriend(i.username)">Accept</a> &ndash;
    <a (click)="declineFriend(i.username)" class="spec1">Decline</a>
  </li>
</ol>
<hr>
<form name="form1" id="form1">
  <input class="biginput" type="text" name="addFriend" placeholder="Add Friend to List" list="listoffriends" id="friendinput" autocomplete="off" [(ngModel)]="addFriendName" (input)="updateCompletions()">
  <datalist id="listoffriends">
    <option *ngFor="let i of friendCompletions" value="{{i}}"></option>
  </datalist>
  <button class="nomaxwidthonmobile bluebutton" type="submit" id="button01" (click)="addFriend()">Add</button>
</form>
